<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Dashboard_ClientDataCards_Win.Properties.Settings.nwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Data\nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="nwindConnectionString" connectionString="xpoprovider=MSAccess;provider=Microsoft.Jet.OLEDB.4.0;data source=C:\Github\how-to-obtain-a-dashboard-items-client-data-in-the-winforms-viewer-t140553\CS\Dashboard_ClientDataCards_Win\Data\nwind.mdb;persist security info=True"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
